.wrapper_calculator {
  width: 250px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 50px;
  background-color:black;
}

.display {
  width: 220px;
  height: 100px;
  border: 1px solid black;
  margin: 11px;
  background-color: gray;
}

.keyboard_number {
  width: 250px;
  height: 400px;
  border: 1px solid black;
  display: inline-block;
}

.btn {
  width: 59px;
  height: 74px;
  display: inline-block;
  background-color: #3b3b33f2;
  color: whitesmoke;
}

.btn_reset {
  width: 59px;
  height: 74px;
  background-color: whitesmoke;
}

#inputVal {
  color: whitesmoke;
  font-size: 25px
}
